<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd878e7a-25ba-4471-8f76-1feac35291a8" Alias="Dual Slider" Level="3">
  <Info>
    <Parent Key="6a6f854d-c4c8-4622-aa10-1a820fa0e7e3">Styleguide</Parent>
    <Path>/Website/Styleguide/DualSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Document_WebPage</ContentType>
    <CreateDate>2021-07-09T00:57:42</CreateDate>
    <NodeName Default="Dual Slider" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cd2b592-f8bc-495e-8520-21d017163599">Webpage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1fd31c00574b42f1a5436f9835264919"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "324cd189-62ad-4ac7-832b-893c7d1689bd",
      "udi": "umb://element/1fd31c00574b42f1a5436f9835264919",
      "heading": "The Dual Slider",
      "slides": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d24ccd9e0fcc46ab9e6045cdf2dc6124"
            },
            {
              "contentUdi": "umb://element/46925b329d8449deac6adea18fe98aa5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ceb616c6-719d-4240-b244-9a329dd7c673",
            "udi": "umb://element/d24ccd9e0fcc46ab9e6045cdf2dc6124",
            "heading": "Background Images",
            "copy": "The image you choose will be shown as a background (m -> xl breakpoints) while being shown as a responsive image for smaller devices (xs -> s breakpoints).",
            "backgroundImage": [
              {
                "key": "d2fe4618-ed16-4d86-be5a-c9391361e101",
                "mediaKey": "7c03fd9c-5b72-418f-ab11-51449b347046",
                "crops": [
                  {
                    "alias": "1600X700",
                    "label": "1600 x 700",
                    "width": 1600,
                    "height": 700
                  }
                ],
                "focalPoint": {
                  "left": 0.5,
                  "top": 0.5
                }
              }
            ]
          },
          {
            "contentTypeKey": "ceb616c6-719d-4240-b244-9a329dd7c673",
            "udi": "umb://element/46925b329d8449deac6adea18fe98aa5",
            "heading": "Why is it called Dual Slider?",
            "copy": "Because both the foreground and the background slide when you transition back or forwards.",
            "backgroundImage": [
              {
                "key": "27c519be-7bc6-4920-afb2-eb6ef3b66bdc",
                "mediaKey": "bf15f9be-a5fd-4722-b5c0-5a4560b9ee00",
                "crops": [
                  {
                    "alias": "1600X700",
                    "label": "1600 x 700",
                    "width": 1600,
                    "height": 700
                  }
                ],
                "focalPoint": {
                  "left": 0.5,
                  "top": 0.5
                }
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>