<?xml version="1.0" encoding="utf-8"?>
<Content Key="44d9d91a-f1bd-4c38-8254-cadff281030b" Alias="HTML" Level="3">
  <Info>
    <Parent Key="6a6f854d-c4c8-4622-aa10-1a820fa0e7e3">Styleguide</Parent>
    <Path>/Website/Styleguide/HTML</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Document_WebPage</ContentType>
    <CreateDate>2021-07-09T00:57:51</CreateDate>
    <NodeName Default="HTML" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cd2b592-f8bc-495e-8520-21d017163599">Webpage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3afef065a4d34fe9a15e77c90dbb3c29"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "09feadc1-e629-4ca1-8036-5b9a88e8c8cd",
      "udi": "umb://element/3afef065a4d34fe9a15e77c90dbb3c29"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>