<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfbc5c6e-3b28-4324-aec2-13c026f5331b" Alias="Humble Starter Kit for Umbraco 9" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HumbleStarterKitForUmbraco9</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Document_WebApplication</ContentType>
    <CreateDate>2021-04-28T16:21:30</CreateDate>
    <NodeName Default="Humble Starter Kit for Umbraco 9" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="354c62b9-0656-4859-b644-6ebe57d5c155">Website</Template>
  </Info>
  <Properties>
    <canonicalDomain>
      <Value><![CDATA[]]></Value>
    </canonicalDomain>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
    <windowTitleFormat>
      <Value><![CDATA[{{page-title}} {{site-title}}]]></Value>
    </windowTitleFormat>
  </Properties>
</Content>