<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7bc5b0b-b50c-4e1d-bf90-d4078a768f02" Alias="Rich Text" Level="3">
  <Info>
    <Parent Key="6a6f854d-c4c8-4622-aa10-1a820fa0e7e3">Styleguide</Parent>
    <Path>/Website/Styleguide/RichText</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Document_WebPage</ContentType>
    <CreateDate>2021-07-09T00:58:04</CreateDate>
    <NodeName Default="Rich Text" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cd2b592-f8bc-495e-8520-21d017163599">Webpage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/480b7e116b254978833fd1942545d3b9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "eb6d7ae0-50e6-45ec-bc7a-c870f46abf22",
      "udi": "umb://element/480b7e116b254978833fd1942545d3b9",
      "copy": "<p style=\"text-align: center;\">Rich <strong>text</strong> <em>content</em>.</p>\n<p style=\"text-align: left;\">Left-aligned.</p>\n<p style=\"text-align: center;\">Center-aligned.</p>\n<p style=\"text-align: right;\">Right-aligned.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>