<?xml version="1.0" encoding="utf-8"?>
<Content Key="06875392-a13d-490b-bf14-46b3374afb43" Alias="Spacers" Level="3">
  <Info>
    <Parent Key="6a6f854d-c4c8-4622-aa10-1a820fa0e7e3">Styleguide</Parent>
    <Path>/Website/Styleguide/Spacers</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Document_WebPage</ContentType>
    <CreateDate>2021-07-09T00:58:13</CreateDate>
    <NodeName Default="Spacers" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cd2b592-f8bc-495e-8520-21d017163599">Webpage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a5d81f70ea3482885a07442e67a7de4"
      },
      {
        "contentUdi": "umb://element/16afd3543f7b4176be98a5341bafbb25"
      },
      {
        "contentUdi": "umb://element/c653274a031541ab81fe9b444b8881de"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b2396f4e-24a6-4b92-b77d-8cb0962fed74",
      "udi": "umb://element/16afd3543f7b4176be98a5341bafbb25",
      "size": [
        "Default"
      ]
    },
    {
      "contentTypeKey": "b2396f4e-24a6-4b92-b77d-8cb0962fed74",
      "udi": "umb://element/3a5d81f70ea3482885a07442e67a7de4",
      "size": [
        "Smaller"
      ]
    },
    {
      "contentTypeKey": "b2396f4e-24a6-4b92-b77d-8cb0962fed74",
      "udi": "umb://element/c653274a031541ab81fe9b444b8881de",
      "size": [
        "Larger"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>