<?xml version="1.0" encoding="utf-8"?>
<Content Key="f559ba86-8503-4bf4-8dfa-8a66e84737c0" Alias="Umbraco Property Editors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoPropertyEditors</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Testing_UmbracoPropertyEditors</ContentType>
    <CreateDate>2022-01-01T19:23:54</CreateDate>
    <NodeName Default="Umbraco Property Editors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <checkboxList>
      <Value><![CDATA[[]]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <fileUpload>
      <Value><![CDATA[]]></Value>
    </fileUpload>
    <gridLayout>
      <Value><![CDATA[]]></Value>
    </gridLayout>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <markdownEditor>
      <Value><![CDATA[]]></Value>
    </markdownEditor>
    <mediaPicker>
      <Value><![CDATA[]]></Value>
    </mediaPicker>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multiURLPicker>
      <Value><![CDATA[[]]]></Value>
    </multiURLPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radioButtonList>
      <Value><![CDATA[]]></Value>
    </radioButtonList>
    <repeatableTextstrings>
      <Value><![CDATA[]]></Value>
    </repeatableTextstrings>
    <richtextEditor>
      <Value><![CDATA[]]></Value>
    </richtextEditor>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textString>
      <Value><![CDATA[]]></Value>
    </textString>
    <trueFalse>
      <Value><![CDATA[0]]></Value>
    </trueFalse>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
  </Properties>
</Content>