<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d46fc13-fa17-4421-84a9-a70e28a9289f" Alias="Video" Level="3">
  <Info>
    <Parent Key="6a6f854d-c4c8-4622-aa10-1a820fa0e7e3">Styleguide</Parent>
    <Path>/Website/Styleguide/Video</Path>
    <Trashed>false</Trashed>
    <ContentType>Humble_Document_WebPage</ContentType>
    <CreateDate>2021-12-28T12:11:49</CreateDate>
    <NodeName Default="Video" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cd2b592-f8bc-495e-8520-21d017163599">Webpage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/80a64dcfc76b4835b86328546e1398ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "88826c14-b166-45a4-8329-ebdb8617b995",
      "udi": "umb://element/80a64dcfc76b4835b86328546e1398ac"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>