<!--
	Card
	- Allows us to render this block in the backoffice.
	- See for more detail: https://our.umbraco.com/Documentation/Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/
-->
<div class="card flex" ng-click="block.edit()">
	<div class="copy">
		<h1 ng-if="block.data.heading" class="heading">{{block.data.heading}}</h1>
		<p ng-if="block.data.copy" ng-bind-html="block.data.copy"></p>
		<a href="#" ng-if="block.data.callToAction.length">{{block.data.callToAction[0].name}}</a>
	</div>
	<div class="media">
		<div class="images"></div>
	</div>
</div>
