<!--
	Video
	- Allows us to render this block in the backoffice.
	- See for more detail: https://our.umbraco.com/Documentation/Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/
-->
<div class="ratio -size:16x9">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/C1g5gtt5E7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
