<!--
	Dual Slider
	- Allows us to render this block in the backoffice.
	- See for more detail: https://our.umbraco.com/Documentation/Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/
-->
<div class="dualLayerSlider"
	 ng-controller="humble_element_dualSlider"
	 data-guid="{{block.key}}">1

	<div class="bg"
		 ng-click="block.edit()">
		<div class="focus">
			<div class="sequenced">
				<section ng-repeat="image in images" style="background-image:url({{image}})"></section>
			</div>
		</div>
	</div>

	<div class="fg">
		<p class="tagline">{{block.data.heading}}</p>
		<div class="focus">
			<div class="sequenced">
				<section ng-repeat="slide in block.data.slides.contentData">
					<h1 class="title" ng-if="slide.heading">{{slide.heading}}</h1>
					<hr />
					<p ng-if="slide.copy">{{slide.copy}}</p>
				</section>
			</div>
		</div>
		<div class="pagination">
			<a href="#" class="page" ng-repeat="slide in block.data.slides.contentData"></a>
			<a href="#" class="next"><svg x="0px" y="0px" viewBox="0 0 100 100" style="enable-background: new 0 0 100 100;" xml:space="preserve"><polyline class="icon-arrow" points="78.3,97.2 21.7,50 78.3,2.8" style=" fill: none; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 10; " /></svg></a>
		</div>
	</div>
</div>

<script>
(function () {
	try {
		var el = document.querySelector(".dualLayerSlider[data-guid='{{block.key}}']");
		window.app.dualLayerSlider(el);
	} catch (e) {
		console.log(e);
	}
})();
</script>