<!--
	Spacer
	- Allows us to render this block in the backoffice.
	- See for more detail: https://our.umbraco.com/Documentation/Fundamentals/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/
-->
<div class="spacer"
	 ng-class="{
		'-size:s': block.data.size[0] === 'Smaller',
		'-size:m': block.data.size[0] === 'Default',
		'-size:l': block.data.size[0] === 'Larger'}"
	 ng-click="block.edit()">
	 <div class="flex -align:middle -text:center" style="height:100%;">
		<p style="opacity:0.375;"><strong>{{block.data.size[0]}} Spacer</strong></p>
	 </div>
</div>
