*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
#.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Umbraco
Humble.Umbraco/App_Plugins/
Humble.Umbraco/uSync/
Humble.Umbraco/umbraco
Humble.Umbraco/wwwroot/umbraco/
Humble.Umbraco/umbraco/Data/TEMP/
Humble.Umbraco/umbraco/Logs/

# Nodejs
node_modules/

# Temp
HumbleUmbraco.Bootstrapped/

