<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c03fd9c-5b72-418f-ab11-51449b347046" Alias="Adobestock 277892649" Level="2">
  <Info>
    <Parent Key="c95efbfa-c6ef-4177-8461-6b8f8f6e6d22">Stock</Parent>
    <Path>/Stock/Adobestock277892649</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-03T16:24:57</CreateDate>
    <NodeName Default="Adobestock 277892649" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tl4bg5ds/adobestock_277892649.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>