<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf15f9be-a5fd-4722-b5c0-5a4560b9ee00" Alias="Bg 01" Level="2">
  <Info>
    <Parent Key="74233da5-0bf3-4c94-a507-072f6b578420">Demo</Parent>
    <Path>/Demo/Bg01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-09T12:32:47</CreateDate>
    <NodeName Default="Bg 01" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xd2blp53/bg-01.jpg","crops":[{"alias":"Twitter Sharing","width":1200,"height":628},{"alias":"Facebook Sharing","width":1200,"height":630},{"alias":"16:9 XL","width":16,"height":9},{"alias":"16:9 L","width":16,"height":9},{"alias":"16:9 M","width":16,"height":9},{"alias":"16:9 S","width":16,"height":9},{"alias":"16:9 XS","width":16,"height":9},{"alias":"4:3 XL","width":4,"height":3},{"alias":"4:3 L","width":4,"height":3},{"alias":"4:3 M","width":4,"height":3},{"alias":"4:3 S","width":4,"height":3},{"alias":"4:3 XS","width":4,"height":3},{"alias":"3:4 XL","width":3,"height":4},{"alias":"3:4 L","width":3,"height":4},{"alias":"3:4 M","width":3,"height":4},{"alias":"3:4 S","width":3,"height":4},{"alias":"3:4 XS","width":3,"height":4}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>