<?xml version="1.0" encoding="utf-8"?>
<Media Key="74233da5-0bf3-4c94-a507-072f6b578420" Alias="Demo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Demo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-07-09T12:32:42</CreateDate>
    <NodeName Default="Demo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>