<?xml version="1.0" encoding="utf-8"?>
<Media Key="2375b45a-3bac-4cd8-848c-aae01c88943c" Alias="Videos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>videosOnly</ContentType>
    <CreateDate>2021-07-09T13:18:53</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>