<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4d14911-3d3d-4bd1-8f64-aa1fb499c0d1" Alias="Block List of Redirects" Level="1">
  <Info>
    <Name>Block List of Redirects</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9b5ca51c-fbd1-40c0-8f49-78cd235db492",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{redirectFrom}} 🠖 {{redirectTo}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>