<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76502e09-e1c2-49d0-a247-a796c51891ec" Alias="Block List" Level="1">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/breadcrumb.jpg",
      "contentElementTypeKey": "9d7db143-eab1-481a-ae45-560e80ba966a",
      "settingsElementTypeKey": null,
      "view": "~/Views/Partials/blocklist/components/humble_element_breadcrumbs.html",
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "small",
      "forceHideContentEditorInOverlay": true
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/card.jpg",
      "contentElementTypeKey": "9ebb5711-0f74-4747-8c89-1002e65d1451",
      "settingsElementTypeKey": null,
      "view": "~/Views/Partials/blocklist/components/humble_element_card.html",
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/container.jpg",
      "contentElementTypeKey": "dd231db6-970e-475d-9de6-74bde7ab3d75",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/dual slider.jpg",
      "contentElementTypeKey": "324cd189-62ad-4ac7-832b-893c7d1689bd",
      "settingsElementTypeKey": null,
      "view": "~/Views/Partials/blocklist/components/humble_element_dualSlider.html",
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/html.jpg",
      "contentElementTypeKey": "09feadc1-e629-4ca1-8036-5b9a88e8c8cd",
      "settingsElementTypeKey": null,
      "view": "~/Views/Partials/blocklist/components/humble_element_html.html",
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/image.jpg",
      "contentElementTypeKey": "34cfe6d6-6028-4045-ba79-98e2a5b2baa9",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/rich text.jpg",
      "contentElementTypeKey": "eb6d7ae0-50e6-45ec-bc7a-c870f46abf22",
      "settingsElementTypeKey": null,
      "view": "~/Views/Partials/blocklist/components/humble_element_richText.html",
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/spacer.jpg",
      "contentElementTypeKey": "b2396f4e-24a6-4b92-b77d-8cb0962fed74",
      "settingsElementTypeKey": null,
      "view": "~/Views/Partials/blocklist/components/humble_element_spacer.html",
      "stylesheet": "~/assets/block.min.css",
      "label": "{{size[0]}} Spacer",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/assets/media/video.jpg",
      "contentElementTypeKey": "88826c14-b166-45a4-8329-ebdb8617b995",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": "~/assets/block.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>