<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5735b1db-609e-4e3b-84b6-dd9062f93dd1" Alias="Dual Slider - Slides - Block List" Level="1">
  <Info>
    <Name>Dual Slider - Slides - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ceb616c6-719d-4240-b244-9a329dd7c673",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>