<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08f96de3-9168-4a3f-89e9-45849874ef97" Alias="Email Address" Level="1">
  <Info>
    <Name>Email Address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>