<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06fb048c-68f4-41fa-a0f3-1d63fbe22009" Alias="Hint" Level="2">
  <Info>
    <Name>Hint</Name>
    <EditorAlias>humble.propertyEditors.hint</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Humble</Folder>
  </Info>
  <Config><![CDATA[{
  "heading": "My Hint",
  "copy": "My hint test lorem ipsum sometimes right?"
}]]></Config>
</DataType>