<?xml version="1.0" encoding="utf-8"?>
<DataType Key="531d9f82-1f8b-404c-b0eb-0f08173a2128" Alias="HTML Heading Elements" Level="2">
  <Info>
    <Name>HTML Heading Elements</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Humble</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "P"
    },
    {
      "id": 2,
      "value": "H1"
    },
    {
      "id": 3,
      "value": "H2"
    },
    {
      "id": 4,
      "value": "H3"
    },
    {
      "id": 5,
      "value": "H4"
    },
    {
      "id": 6,
      "value": "H5"
    },
    {
      "id": 7,
      "value": "H6"
    }
  ]
}]]></Config>
</DataType>