<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5edd05a-8029-4734-a7c8-b2b3cd5b332f" Alias="HTML Section Elements" Level="2">
  <Info>
    <Name>HTML Section Elements</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Humble</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "ARTICLE"
    },
    {
      "id": 2,
      "value": "ASIDE"
    },
    {
      "id": 3,
      "value": "BLOCKQUOTE"
    },
    {
      "id": 4,
      "value": "DIV"
    },
    {
      "id": 5,
      "value": "SECTION"
    }
  ]
}]]></Config>
</DataType>