<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Twitter Sharing",
      "width": 1200,
      "height": 628
    },
    {
      "alias": "Facebook Sharing",
      "width": 1200,
      "height": 630
    },
    {
      "alias": "16:9 XL",
      "width": 16,
      "height": 9
    },
    {
      "alias": "16:9 L",
      "width": 16,
      "height": 9
    },
    {
      "alias": "16:9 M",
      "width": 16,
      "height": 9
    },
    {
      "alias": "16:9 S",
      "width": 16,
      "height": 9
    },
    {
      "alias": "16:9 XS",
      "width": 16,
      "height": 9
    },
    {
      "alias": "4:3 XL",
      "width": 4,
      "height": 3
    },
    {
      "alias": "4:3 L",
      "width": 4,
      "height": 3
    },
    {
      "alias": "4:3 M",
      "width": 4,
      "height": 3
    },
    {
      "alias": "4:3 S",
      "width": 4,
      "height": 3
    },
    {
      "alias": "4:3 XS",
      "width": 4,
      "height": 3
    },
    {
      "alias": "3:4 XL",
      "width": 3,
      "height": 4
    },
    {
      "alias": "3:4 L",
      "width": 3,
      "height": 4
    },
    {
      "alias": "3:4 M",
      "width": 3,
      "height": 4
    },
    {
      "alias": "3:4 S",
      "width": 3,
      "height": 4
    },
    {
      "alias": "3:4 XS",
      "width": 3,
      "height": 4
    }
  ]
}]]></Config>
</DataType>