<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12454d9f-9dd6-48c6-8055-140741f2657a" Alias="Media Picker v3" Level="1">
  <Info>
    <Name>Media Picker v3</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "Multiple": true,
  "ValidationLimit": {
    "min": 0,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": [
    {
      "alias": "1:1",
      "label": "1:1",
      "width": 600,
      "height": 600
    },
    {
      "alias": "16:9",
      "label": "16:9",
      "width": 1600,
      "height": 900
    },
    {
      "alias": "3:4",
      "label": "3:4",
      "width": 600,
      "height": 800
    }
  ]
}]]></Config>
</DataType>