<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf463d33-3393-44a5-b1bf-b6dd1b3e35a1" Alias="Member Group Picker" Level="1">
  <Info>
    <Name>Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>