<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d69882eb-f75b-4ac7-b260-d60385e31e7f" Alias="Multinode Treepicker" Level="1">
  <Info>
    <Name>Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>