<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8beb50f5-01e7-4fd4-bbb0-c11e8430bd1e" Alias="Repeatable Textstrings" Level="1">
  <Info>
    <Name>Repeatable Textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>