<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88d6804f-01c7-46b3-9564-f3303732658a" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 0.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>