<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb43abff-20c7-4180-ba4c-80cca87f6eef" Alias="Spacer - Size - Dropdown" Level="1">
  <Info>
    <Name>Spacer - Size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Default"
    },
    {
      "id": 2,
      "value": "Smaller"
    },
    {
      "id": 3,
      "value": "Larger"
    }
  ]
}]]></Config>
</DataType>