<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d39abb49-6a94-4704-85b1-6092320ea86a" Alias="Upload Video" Level="1">
  <Info>
    <Name>Upload Video</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "mp4"
    }
  ]
}]]></Config>
</DataType>