<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95ea3e73-e058-4ad0-ad96-744b472a0615" Alias="Upload Document" Level="1">
  <Info>
    <Name>Upload Document</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "doc"
    },
    {
      "id": 0,
      "value": "docx"
    },
    {
      "id": 0,
      "value": "xls"
    },
    {
      "id": 0,
      "value": "pdf"
    },
    {
      "id": 0,
      "value": "xlsx"
    },
    {
      "id": 0,
      "value": "csv"
    },
    {
      "id": 0,
      "value": "txt"
    }
  ]
}]]></Config>
</DataType>