<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01867bf8-c47c-4bea-b84c-3decafafb46b" Alias="Upload Image" Level="1">
  <Info>
    <Name>Upload Image</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "jpg"
    },
    {
      "id": 0,
      "value": "png"
    },
    {
      "id": 0,
      "value": "jpeg"
    },
    {
      "id": 0,
      "value": "gif"
    },
    {
      "id": 0,
      "value": "webp"
    }
  ]
}]]></Config>
</DataType>