<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9adfe907-ebd3-4534-853e-15c94752e0a4" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>