<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1e9ce95-66a4-46c6-99d3-99b9bf959481" Alias="Humble_Composition_HasSEO" Level="3">
  <Info>
    <Name>Has SEO</Name>
    <Icon>icon-search color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add this composition to any document type to add SEO metadata.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>52452336-7448-4daf-814d-5a7defb7756f</Key>
      <Name>seoLabel</Name>
      <Alias>seoLabel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Placeholder for SEO properties.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="marketing/seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <Alias>marketing/seO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Marketing</Caption>
      <Alias>marketing</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>