<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd231db6-970e-475d-9de6-74bde7ab3d75" Alias="Humble_Element_Container" Level="4">
  <Info>
    <Name>Container</Name>
    <Icon>icon-checkbox-dotted color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages/User+Interface</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c7d08229-3df9-43bb-9a47-3981a04e9f49</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. Apply a background color to the container area.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="container">Container</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>337d3124-6911-4e05-886c-90b30d59a8ad</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>76502e09-e1c2-49d0-a247-a796c51891ec</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="container">Container</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Container</Caption>
      <Alias>container</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>