<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2396f4e-24a6-4b92-b77d-8cb0962fed74" Alias="Humble_Element_Spacer" Level="4">
  <Info>
    <Name>Spacer</Name>
    <Icon>icon-height color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages/User+Interface</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8b811e09-53ec-41f8-b329-8c85f0b0616e</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>bb43abff-20c7-4180-ba4c-80cca87f6eef</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Required. Sizes indicate how much vertical space will be added to the page. They range from Smaller (16px) to Larger (64px).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spacer">Spacer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Spacer</Caption>
      <Alias>spacer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>