<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f6094ce-5935-46f4-b0f8-0f692d1f4b4a" Alias="Humble_Document_WebPage" Level="3">
  <Info>
    <Name>Web Page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Generic web page featuring a visual block list editor and SEO and social media metadata.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions>
      <Composition Key="7f112ac4-574d-4d59-9a29-8c454498865a">Humble_Composition_HasBlockEditor</Composition>
      <Composition Key="83196045-d022-40df-a40c-77ba4dbda3bf">Humble_Composition_HasOpenGraph</Composition>
      <Composition Key="b1e9ce95-66a4-46c6-99d3-99b9bf959481">Humble_Composition_HasSEO</Composition>
    </Compositions>
    <DefaultTemplate>Webpage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8b55b5c5-fa73-40a0-8b45-3dbace69be9e">Rollup</Template>
      <Template Key="4cd2b592-f8bc-495e-8520-21d017163599">Webpage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2f6094ce-5935-46f4-b0f8-0f692d1f4b4a" SortOrder="0">Humble_Document_WebPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>