<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83196045-d022-40df-a40c-77ba4dbda3bf" Alias="Humble_Composition_HasOpenGraph" Level="3">
  <Info>
    <Name>Has Open Graph</Name>
    <Icon>icon-share color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add this composition to any document type to add open graph metadata.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aaf46c6e-c796-4a99-abc2-f1c015d6540d</Key>
      <Name>openGraphLabel</Name>
      <Alias>openGraphLabel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Placeholder for open graph properties.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="marketing/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Open Graph</Caption>
      <Alias>marketing/openGraph</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Marketing</Caption>
      <Alias>marketing</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>