<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de4d5b28-42da-415f-8932-883a62390320" Alias="Humble_Composition_DoNotRoute" Level="3">
  <Info>
    <Name>DO NOT ROUTE</Name>
    <Icon>icon-stop-alt color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Not implemented. Add this composition to any document type to avoid routing web requests.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>