<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46134823-c499-456e-90ee-9a947c004025" Alias="Humble_Document_Redirects" Level="4">
  <Info>
    <Name>Redirects</Name>
    <Icon>icon-traffic color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>(Document) Serves as a content container for all redirects managed from within Umbraco.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Humble/Web+Application/Redirects</Folder>
    <Compositions>
      <Composition Key="de4d5b28-42da-415f-8932-883a62390320">Humble_Composition_DoNotRoute</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9bfdc2d-5125-4d96-a817-02df618b5579</Key>
      <Name>Redirects</Name>
      <Alias>redirects</Alias>
      <Definition>d4d14911-3d3d-4bd1-8f64-aa1fb499c0d1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="manageURLRedirects">Manage URL Redirects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Manage URL Redirects</Caption>
      <Alias>manageURLRedirects</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>