<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d7db143-eab1-481a-ae45-560e80ba966a" Alias="Humble_Element_Breadcrumbs" Level="4">
  <Info>
    <Name>Breadcrumbs</Name>
    <Icon>icon-anchor color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages/User+Interface</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>