<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f112ac4-574d-4d59-9a29-8c454498865a" Alias="Humble_Composition_HasBlockEditor" Level="3">
  <Info>
    <Name>Has Block Editor</Name>
    <Icon>icon-brick color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add this composition to any document type to add a block list editor.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22cc13a9-924b-4605-b6f4-5e117aa8a196</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>76502e09-e1c2-49d0-a247-a796c51891ec</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="webPageContent">Web Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Web Page Content</Caption>
      <Alias>webPageContent</Alias>
      <Type>Tab</Type>
      <SortOrder>-999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>