<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="09feadc1-e629-4ca1-8036-5b9a88e8c8cd" Alias="Humble_Element_HTML" Level="4">
  <Info>
    <Name>HTML</Name>
    <Icon>icon-code color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages/User+Interface</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3fe1d4ab-0b77-49e9-8d59-c8fbfc207c83</Key>
      <Name>Code</Name>
      <Alias>code</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Required. Add HTML code to the page – including styles from CSS and scripts written via JavaScript.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hTML">HTML</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>HTML</Caption>
      <Alias>hTML</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>