<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8fdd6189-dbb3-4dc8-b50f-1eed6fc317fd" Alias="Humble_Testing_PropertyEditors" Level="3">
  <Info>
    <Name>Humble Property Editors</Name>
    <Icon>icon-lab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>These property editors are included with the Humble Starter Kit.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Humble/Testing</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>