<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb6d7ae0-50e6-45ec-bc7a-c870f46abf22" Alias="Humble_Element_RichText" Level="4">
  <Info>
    <Name>Rich Text</Name>
    <Icon>icon-font color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages/User+Interface</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bd861078-0b6a-4300-b91c-dda127befda0</Key>
      <Name>Copy</Name>
      <Alias>copy</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Required.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="richText">Rich Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Rich Text</Caption>
      <Alias>richText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>