<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2a1e8ab7-6779-4ba0-977b-5a5cf7af656f" Alias="Humble_Document_WebApplication" Level="3">
  <Info>
    <Name>Web Application</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions>
      <Composition Key="7f112ac4-574d-4d59-9a29-8c454498865a">Humble_Composition_HasBlockEditor</Composition>
      <Composition Key="83196045-d022-40df-a40c-77ba4dbda3bf">Humble_Composition_HasOpenGraph</Composition>
      <Composition Key="b1e9ce95-66a4-46c6-99d3-99b9bf959481">Humble_Composition_HasSEO</Composition>
      <Composition Key="457dfd7d-a288-46f1-867b-dd777afb53a7">Humble_Composition_HasWebApplicationSettings</Composition>
    </Compositions>
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="354c62b9-0656-4859-b644-6ebe57d5c155">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2f6094ce-5935-46f4-b0f8-0f692d1f4b4a" SortOrder="0">Humble_Document_WebPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>