<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="422fbde4-989c-4e24-b411-3a21dfe56f9f" Alias="Humble_Composition_HasStructuredData" Level="3">
  <Info>
    <Name>Has Structured Data</Name>
    <Icon>icon-qr-code color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>