<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88826c14-b166-45a4-8329-ebdb8617b995" Alias="Humble_Element_Video" Level="4">
  <Info>
    <Name>Video</Name>
    <Icon>icon-video color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>TODO: Add Description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Humble/Web+Pages/User+Interface</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>