.humbleUmbraco_dashboard {

	@import "./colors";

	.umb-editor-sub-views {
		padding-top: 70px;

		.umb-editor-sub-view {
			height: 100%;
			overflow-y: auto;

			.umb-editor-sub-view__content {
				> div {
				}
			}
		}
	}
}
