/*
	TODO: come up with a styleguide for buttons
*/
button,
input,
a {
	&.button {
		display: inline-block;
		border: 3px solid;
		padding: 0.75rem;
		background: rgba(0, 0, 0, 0.25);
		outline: none;
		text-decoration: none;
		font-size: 1.125rem;
		line-height: 2rem;
		color: config("colors.white");

		&.-flat {
			padding: 0.25rem;
			border: 1px solid transparent;
			background: none;
		}

		&:hover {
			border-color: white;
			background: rgba(0, 0, 0, 0.75);
		}
	}
}
