/*
	Positioning
*/
.pos {
	position: relative;
}

/*
	Wrappers
	Creates wrapping classes for 200 - 1200 px widths.
	Ex: .-wrap-200
*/
@for $i from 1 through 6 {
	.-wrap\:#{($i*2)}00 {
		max-width: #{($i*200)}px;
		margin: auto;
	}

	.-wrap\:#{($i*2)}0 {
		max-width: #{($i*20)}rem;
		margin: auto;
	}
}

/*
	Padding
*/
.-pad\:xs {
	padding: 1rem;
}

.-pad\:s {
	padding: 1rem;
}

.-pad\:m {
	padding: 2rem;
}

.-pad\:l {
	padding: 3rem;
}

@include breakpoint-m {
	.-pad\:xs {
		padding: 1rem;
	}

	.-pad\:s {
		padding: 2rem;
	}

	.-pad\:m {
		padding: 4rem;
	}

	.-pad\:l {
		padding: 6rem;
	}
}