@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Humble_Document_WebPage>
@{
	Layout = "~/Views/Layout.cshtml";
}

<h1 class="heading">@Model.Name</h1>

@if (Model.Content != null)
{
	@Html.GetBlockListHtml(Model.Content)
}

