<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="b6633230-5b45-46f4-b416-3276b7059f18" Alias="videosOnly" Level="1">
  <Info>
    <Name>Videos Only</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d">Folder</Composition>
    </Compositions>
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="d7bb7838-c59b-43e3-9cf7-60e97fb677f3" SortOrder="0">video</MediaType>
    <MediaType Key="b6633230-5b45-46f4-b416-3276b7059f18" SortOrder="1">videosOnly</MediaType>
  </Structure>
  <Tabs />
</MediaType>