<div ng-controller="HumbleUmbraco.Dashboard.DefaultController as vm"
	class="humbleUmbraco_dashboard">

	<umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

	<div ng-if="!vm.loading">

	<umb-editor-view>
		<umb-editor-header
		name="vm.content.name"
		navigation="vm.content.navigation"
		hide-alias="true"
		hide-description="true"
		hide-icon="true"
		name-locked="true"></umb-editor-header>


		<umb-editor-sub-views
			sub-views="vm.content.navigation"
			model="vm.content"></umb-editor-sub-views>

	</umb-editor-view>

	</div>

</div>