.humble_umbraco_propertyEditors_singleRowLayout {
	user-select: none;
	outline: none;

	.flex {
		margin: 1rem 0;
		width: 320px;
		height: 44px;
		line-height: 44px;
		transition: all linear 0.225s;
		opacity: 0.25;
		text-align: center;
		outline: none;
		cursor: pointer;

		> div {
			border: 1px solid #2e2246;
			background-color: #f3f3f3;

			&:first-child {
				margin-right: 8px;
			}
		}

		&:hover,
		&.-active {
			opacity: 1;

			> div {
				background-color: #b2ffb2;
				border-color: green;
			}
		}
	}
}
