/* Configuration, Mixins, and Functions */
/*
	A function to split a string on periods (.) to
	access a SASS map through a familiar syntax.
*/
/*
	Use:
		config("my.path")
*/
/*
	Use:
		pxToRem([int])
*/
/*
	Alignment
	Helps us to align the left and right edges of content.
*/
/*
	XS Breakpoint
	Viewport Width <= 39.99rem (639px)
*/
/*
	S Breakpoint
	Viewport Width >= 40rem (640px)
*/
/*
	M Breakpoint
	Viewport Width >= 64rem (1024px)
*/
/*
	L Breakpoint
	Viewport Width >= 90rem (1440px)
*/
/*
	XL Breakpoint
	Viewport Width >= 120rem (1920px)
*/
/*
	Typography
*/
/*
	-------------------------------------------------------
	Updates to this file should not be made directly in the
	framework. Instead, copy this file to the /src/
	directory. Update `app.scss` to point your new file.
	-------------------------------------------------------
*/
/* Features, Grid Editors, Block Editors */
.card > .media {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex: 0 1 auto; }
  .card > .media > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

/*
	Dual Layer Slider Component
*/
.dualLayerSlider {
  position: relative;
  /*
		Focus
		- Helper for us to hide the overflow.
		- Acts as a window to see the appropriate "scene" in our sequence.
	*/
  /*
		Sequenced
		- Acts as our staging area for "scenes".
		- "Scenes" are the immediate children & should us the <section> tag.
	*/
  /*
		Background
		- Always set the background image to `cover`.
	*/
  /*
		Foreground
		- Add padding to avoid run-in with the viewport.
	*/
  /*
		Pagination
		- Style page indicators.
		- Style the next indicator.
	*/
  /*
		UI Design
		- For screens between 0 to 799px wide.
	*/
  /*
		UI Design
		- For screens greater than 800px wide.
	*/ }
  .dualLayerSlider .focus {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .dualLayerSlider .sequenced {
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    transition: all ease-out 0.655s; }
    .dualLayerSlider .sequenced > section {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      white-space: normal; }
  .dualLayerSlider .bg section {
    height: 100%;
    background-size: cover;
    background-position: center center; }
  .dualLayerSlider .fg {
    box-sizing: border-box; }
    .dualLayerSlider .fg .tagline {
      color: #ea8925;
      margin-bottom: 0.25rem; }
    .dualLayerSlider .fg hr {
      height: 1px;
      border: none;
      outline: none;
      margin: 1rem 0;
      background: #c9c8c7; }
  .dualLayerSlider .pagination {
    font-size: 0; }
    .dualLayerSlider .pagination a {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 44px;
      box-sizing: border-box;
      vertical-align: top; }
    .dualLayerSlider .pagination .page:before {
      content: "";
      display: block;
      position: absolute;
      top: 14px;
      right: 14px;
      bottom: 14px;
      left: 14px;
      border-radius: 50%;
      background: #8E8E8E; }
    .dualLayerSlider .pagination .page.-active:before, .dualLayerSlider .pagination .page:focus:before {
      background: #ea8925; }
    .dualLayerSlider .pagination .next {
      padding: 8px;
      background: #ea8925;
      color: #fff;
      margin-left: 14px; }
      .dualLayerSlider .pagination .next svg {
        width: 100%;
        height: auto;
        stroke: currentColor;
        transform: rotate(180deg); }
  @media screen and (max-width: 799px) {
    .dualLayerSlider .bg {
      height: 240px; }
    .dualLayerSlider .fg {
      padding: 1rem;
      position: relative; }
    .dualLayerSlider .pagination {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      text-align: center; }
      .dualLayerSlider .pagination .next {
        position: absolute;
        right: 0; } }
  @media screen and (min-width: 800px) {
    .dualLayerSlider {
      height: 700px;
      overflow: hidden; }
      .dualLayerSlider .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .dualLayerSlider .fg {
        position: absolute;
        width: 400px;
        left: 25%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        box-shadow: 3px 4px 15px -6px #000; }
        .dualLayerSlider .fg .sequenced > section {
          box-sizing: border-box;
          max-height: 400px;
          overflow-y: auto; }
        .dualLayerSlider .fg .tagline {
          padding: 2rem 2rem 0 2rem; }
        .dualLayerSlider .fg .sequenced > section {
          padding: 0 2rem; }
      .dualLayerSlider .pagination {
        padding: 1rem 0;
        text-align: right; } }

/*
	Spacers
*/
.spacer.-size\:xs {
  height: 0.5rem; }
  @media (min-width: 64rem) {
    .spacer.-size\:xs {
      height: 1rem; } }
  @media (min-width: 90rem) {
    .spacer.-size\:xs {
      height: 2rem; } }

.spacer.-size\:s {
  height: 1rem; }
  @media (min-width: 64rem) {
    .spacer.-size\:s {
      height: 2rem; } }
  @media (min-width: 90rem) {
    .spacer.-size\:s {
      height: 4rem; } }

.spacer.-size\:m {
  height: 2rem; }
  @media (min-width: 64rem) {
    .spacer.-size\:m {
      height: 4rem; } }
  @media (min-width: 90rem) {
    .spacer.-size\:m {
      height: 6rem; } }

.spacer.-size\:l {
  height: 4rem; }
  @media (min-width: 64rem) {
    .spacer.-size\:l {
      height: 6rem; } }
  @media (min-width: 90rem) {
    .spacer.-size\:l {
      height: 8rem; } }

.spacer.-size\:xl {
  height: 6rem; }
  @media (min-width: 64rem) {
    .spacer.-size\:xl {
      height: 8rem; } }
  @media (min-width: 90rem) {
    .spacer.-size\:xl {
      height: 10rem; } }

/* Specific Templates */
