/*
	Block Editor and Blocks
	- Remove `max-width` from the block list wrapper.
	- Center align "Add Content" button text.
	- Keep a reference to when blocks begin and end.
*/
$color-gray: #bbbabf;
$color-blue: #2152a3;

.umb-block-list {
	.umb-block-list__wrapper {
		max-width: none;
	}

	.umb-block-list__create-button {
		padding-left: 59px;
	}

	.umb-block-list__block--view {
		border: 1px dashed $color-gray;
		border-radius: 3px;
		padding: 5px 15px;
		margin-bottom: 5px;

		&:hover {
			border-color: $color-blue;
		}
	}
}
